<!-- ======= Header ======= -->         
<header id="header" class="d-flex align-items-center"> 
  <div class="container d-flex justify-content-center"> 
      <nav id="navbar" class="navbar"> 
          <ul> 
              <li>
                  <div class="logo nav-link scrollto active"> 
                      <a href="{{"/" | relative_url }}"><img src="{{"/img/logo-b.svg" | relative_url }}" alt="Operation Privacy" class="img-fluid" title="Blog"></a> 
                  </div>
              </li>                         
              <li>
                  <h2 class="text-center">Operation Privacy Blog</h2>
              </li>                         
              <li>
                  <a class="nav-link scrollto btn-buy" href="https://dashboard.OperationPrivacy.com/login" target="_pg_blank">Login</a>
              </li>                         
          </ul>                     
      </nav>
      <!-- .navbar -->                 
  </div>             
</header>
