<!-- ======= Header ======= -->         
 <header id="header" class="d-flex align-items-center"> 
    <div class="container d-flex justify-content-center"> 
        <nav id="navbar" class="navbar"> 
            <ul>                                       
               
                <li>
                    <div class="logo nav-link scrollto active"> 
                        <a href="https://www.OperationPrivacy.com"><img src="{{"/img/logo-b.svg" | relative_url }}" alt="Operation Privacy" class="img-fluid" title="Operation Privacy"></a> 
                    </div>
                </li>                         
                <li>
                    <a href="/blog/" title="Blog Home">Blog</a>
                </li>                         
                                        
            </ul>                     
        </nav>
        <!-- .navbar -->                 
    </div>  
    <div class="m-4">
        <a class="btn-buy" href="https://dashboard.OperationPrivacy.com/login" target="_pg_blank" title="Dashboard Login">Login</a>
    </div>       
</header>

<!-- End Header -->     
