        <!-- ======= Hero Section ======= -->         
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center"> 
            <div class="container" data-aos="fade-in"> 
                <div class="row my-5 mb-md-auto">
                    <div class="mx-5 col-auto mb-3 mb-md-auto">
                        <h1>Operation Privacy Blog</h1> 
                        <h2>Because it&apos;s personal</h2> 
                    </div>
               
                </div>                 
            </div>             
        </section>
        <!-- End Hero --> 
        <main id="main"> 
          
          <section id="post-list" class="post-list section-bg"> 
                 
            

            
     